header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 10%;
}

.ecommerceH1{
    color: rgba(168,17,17,1);
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 600px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}
