@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;600;700&display=swap');
*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.ecommerceH1{
    color: rgba(168,17,17,1);
    font-size: 1.5rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

nav a{
    color: black;
    font-weight: 600;
}

li{
    display: flex;
    gap: 50px;
    margin-right: 20%;
}

.carrito{
    display: flex;
    align-items: center;
}




